<html>
    <head >Welcome to ansible</head>

    <body>
        <h1 align="center">nginx, configured by Ansible</h1>
        <p>If you can see this, Ansible successfully installed nginx</p>
        <p> Ansible managed:</br>{{ ansible_managed }}</p>
    </body>
</html>